/* mobile CSS */

@media (max-width: 480px) {
}

@media (max-width: 767px) {
  .workprocess-progressbar-buttonone {
    border: none;
    background-color: transparent;
  }
  .services-border {
    border: 2px solid #d0d0d0;
    width: 90%;
    max-width: fit-content;
  }
  .bunder1 {
    margin-left: 220px;
  }
  .bunder2 {
    margin-left: 178px;
  }
  .bunder3 {
    margin-left: 215px;
  }
  .card_content {
    position: absolute;
    padding: 0px 60px 0px 60px;
  }
  .ourservices-card {
    left: 20%;
  }
  .Clientservices-card {
    left: 21%;
  }
  .footer_email_arrow {
    right: 4px;
  }
  .latest_work_image {
    width: 270px;
    height: 150px;
  }

  .latest_work_notebook_image {
    width: 270px;
    height: 150px;
    margin-left: 15px;
  }
  .latest_work_computer_image {
    width: 270px;
    height: 150px;
    margin-left: 15px;
  }
  .latest_work_frame_image {
    max-width: 271px;
  }
  .latestwork_picturesection {
    width: 100%;
  }
}

/* Tab CSS */
@media (min-width: 768px) and (max-width: 991px) {
  .bunder1 {
    margin-left: 260px;
  }
  .bunder2 {
    margin-left: 190px;
  }
  .bunder3 {
    margin-left: 230px;
  }
  .creative_team_socialicon {
    padding: 0px 3px 0px 3px;
  }
  .ourservices-card {
    left: 20%;
  }
  .Clientservices-card {
    left: 21%;
  }
  .meet-our-creative-firstcard {
    width: 100%;
    height: 100%;
  }
  .latest_work_frame_image {
    min-width: 141px;
  }
  .latest_work_diamond_image {
    min-width: 142px;
  }
  .services-border {
    max-width: 130px;
  }
}

/* Small Screen Desktop */
@media (min-width: 992px) and (max-width: 1024px) {
  .bunder1 {
    margin-left: 360px;
  }
  .bunder2 {
    margin-left: 265px;
  }
  .bunder3 {
    margin-left: 320px;
  }
  .services-border {
    max-width: 200px;
  }
}

/* Screen Desktop */
@media (max-width: 1280px) {
}
