* {
  padding: 0;
  margin: 0;
}

/* font style   */

@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"),
    url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.roboto-regular {
  font-family: "robotoregular";
  font-weight: 600;
}
.roboto-regular-bold {
  font-family: "robotoregular";
  font-weight: 600;
  font-size: 22px;
}
@font-face {
  font-family: "gentium_plusregular";
  src: url("gentiumplus-regular-webfont.woff2") format("woff2"),
    url("gentiumplus-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.gentium_plusregular {
  font-family: "gentium_plusregular";
  font-weight: 500;
  font-size: 35px;
}
.gentium_plusregular-bold {
  font-family: "gentium_plusregular";
  font-weight: 600;
}

/* font style   */

.hexaware_logo {
  width: 50px;
  height: 40px;
}
main {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
/* for sticky  navbar */

.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform 0.5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

/* for sticky  navbar */

.header_link_top {
  background-color: transparent;
  transition: all 0.5s linear;
  height: 82px;
}
.header_link_top:hover {
  background-color: white;
  transition: all 0.5s linear;
}
.header_link_tab ul li {
  padding: 0px 10px 0px 10px;
}
.header_link_tab ul li a {
  color: #ffffff !important;
}
.header_link_tab ul li a:hover {
  color: #0056b3 !important;
  text-decoration: underline;
  text-decoration-color: #0056b3;
  text-underline-offset: 35px;
  text-decoration-thickness: 2px;
  transition: ease 0.5s;
}

.header_navbar_social_icon {
  font-size: 22px;
}
.first_banner_header_bg {
  background-image: url(../images/bannerfirstimageheader.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
}
.second_banner_header_bg {
  background-image: url(../images/bannerimagethreebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
}
.third_banner_header_bg {
  background-image: url(../images/thirdbannerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
}
.banner-heading-first {
  font-size: 60px;
  width: 70%;
  position: relative;
  top: 22%;
}
.banner_heading_second {
  font-size: 30px;
  position: absolute;
  top: 56%;
  left: 27%;
}
.banner-heading-third {
  font-size: 60px;
  width: 65%;
  position: relative;
  top: 22%;
}
.banner_slider_second_tab_button {
  padding: 5px 35px 5px 35px;
}
.banner_slider_secondthird_tab_button {
  padding: 5px 22px 5px 22px;
}

/* swipper slide   */

.swiper-first {
  position: initial !important;
  width: 400px;
  height: 400px;
  margin-left: 85px;
  border: 1px solid #000;
  border-radius: 10px;
  /* transform: translateY(-125px); */
}
.swiper_arrow_pagination {
  position: absolute;
  border: 1px solid #000;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 70%;
  left: 55%;
  z-index: 999;
}
.swiper_one_content {
  background-image: url(../images/left-quote-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 80px;
  position: absolute;
  top: 8%;
  left: 5%;
}
.swiper_content_text {
  position: absolute;
  width: 82%;
  top: 47px;
  left: 70px;
}
.swiper_slide_button {
  padding: 6px 30px 8px 30px;
}
/* swipper slide   */

/* fancybox css  */

.card:focus,
img:focus,
a:focus {
  box-shadow: none;
  outline: none;
}

.image-size {
  height: 315px;
  width: 100%;
  border-radius: 0;
}
.solution-tab-second-text {
  position: absolute;
  width: 72%;
  top: 18%;
  left: 15%;
  font-size: 32px;
}

.solution-tab-third-text {
  position: absolute;
  width: 84%;
  top: 20%;
  left: 13%;
  font-size: 25px;
}
.solution-wrapper:hover .solution-tab-image-card {
  background-color: #005aab;
  color: #fff;
}
.solution-wrapper:hover .img-hover-zoom img {
  transform: scale(1.1);
  opacity: 1;
}
.solution-tab-four-text {
  position: absolute;
  width: 72%;
  top: 20%;
  left: 18%;
  font-size: 32px;
}
.solution-first-button {
  position: absolute;
  top: 67%;
  font-size: 20px;
}
.solution-first-button:hover {
  color: #fff !important;
}
.solution-second-button {
  position: absolute;
  top: 75%;
  font-size: 20px;
}
.solution-second-button:hover {
  color: #fff;
}
.img-hover-zoom {
  overflow: hidden;
}
.img-hover-zoom img {
  transition: transform 0.5s ease;
}
.video-button-icoon {
  position: absolute;
  top: 25%;
  left: 40%;
  font-size: 90px;
  color: whitesmoke;
}
/* fancybox css  */

.hipas-tab {
  /* position: relative; */
  overflow: hidden;
  width: 100%;
}

.hipas-image-bg {
  background-image: url(../images/digital-hipas-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  transition: all 1s ease;
}
.hipas-image-bg:hover {
  transform: scale(1.2);
}
.hipas-card {
  position: absolute;
  background-color: #005aab;
  height: 200px;
  width: 368px;
  top: 40%;
  left: 54%;
}
.card-text {
  font-size: 28px;
}
.card-text:hover {
  text-decoration: none;
}
.card-automation {
  width: 280px;
  top: 30%;
  position: absolute;
  left: 54%;
  border-radius: 0;
}
.automation-text-color {
  color: #474c51;
}
.automation-text-color:hover {
  color: #474c51;
  text-decoration: none;
}
.Hipas-button-know {
  color: #1f252b;
  font-weight: 700;
  font-size: 20px;
}
.hipas-offering-text {
  position: absolute;
  width: 100%;
  max-width: 205px;
  font-size: 68px;
  font-weight: bold;
  line-height: 56px;
  line-break: anywhere;
  top: 80%;
  color: #ebebec;
}
.develop-badge-card {
  position: absolute;
  background-color: #000;
  height: 200px;
  width: 368px;
  top: 40%;
  left: 39%;
}
.card-text-develop {
  font-size: 28px;
}
.card-text-develop:hover {
  text-decoration: none;
}

.construction-road-card {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}
.road-construction-card-image {
  transition: all 1s ease;
}
.road-construction-card-image:hover {
  transform: scale(1.1);
}
.card-badge-automation {
  width: 280px;
  height: 65px;
  top: 25%;
  position: absolute;
  left: 39%;
  border-radius: 0;
  background-color: #f14f54;
}
.secondslider-swiper-arrow-pagination {
  position: absolute;
  border: 1px solid #000;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 1%;
  left: 77%;
  z-index: 999;
  border-radius: 5px;
}

/* .new-hover-img {
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 2s;
}
.google-circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 2s;
} */

.covid-card {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: #0056b3;
}
.covid-text-safety {
  font-size: 20px;
}
.covid-button {
  font-size: 20px;
}
.thinkingaloud-button {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.text-insight {
  color: #ebebec;
  font-size: 100px;
  word-break: break-all;
  font-weight: 900;
}
